.selectdiv {
    position: relative;
}
.selectdiv:after {
    content: ">";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 30px !important;
    font-weight: 100;
    color: #637381 !important;
    right: 1rem;
    top: 5px;
    bottom: 0px;
    position: absolute;
    pointer-events: none;
}
.selectdiv:active:after {
    transform: rotate(180deg);
-webkit-transform: rotate(180deg);
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    -ms-word-break: normal;
    word-break: normal;
}
