.selectdiv {
    position: relative;
}

.selectdiv::after {
    content: ">";
    transform: rotate(90deg);
    font-size: 30px !important;
    font-weight: 100;
    color: #637381 !important;
    right: 18px;
    top: 5px;
    bottom: 0.1px;
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.selectdiv select {
    appearance: none; /* Standard property */
    -ms-word-break: normal; /* For IE/Edge */
    word-break: normal; /* Standard property */
}
