{
    "*.js": ["prettier --write", "stylelint \"**/*.css\"", "eslint", "jest --coverage --ci -u"],
    "*.jsx": ["prettier --write", "stylelint \"**/*.css\"", "eslint", "jest --coverage --ci -u"],
    "*.ts": ["prettier --write", "stylelint \"**/*.css\"", "eslint", "jest --coverage --ci -u"],
    "*.tsx": ["prettier --write", "stylelint \"**/*.css\"", "eslint", "jest --coverage --ci -u"],
    "*.json": ["prettier --write"]
}
